trigger: none 
pool: Default

jobs:
  - job: build
    displayName: building application
    steps:
    - task: PowerShell@2
      inputs:
        filePath: 'C:\agent\_work\3\s\ReactTodoUIMonolith-main'
        arguments: 'npm install'