trigger: none 
pool: Default

jobs:
  - job: build
    displayName: building application
    steps:
    - task: PowerShell@2
      inputs:
        targetType: 'inline'
        script: 'npm install'
        workingDirectory: '$(Build.SourcesDirectory)/ReactTodoUIMonolith-main'
    - task: PowerShell@2
      inputs:
        targetType: 'inline'
        script: 'npm run build'
        workingDirectory: '$(Build.SourcesDirectory)/ReactTodoUIMonolith-main'

    - task: PublishPipelineArtifact@1
      inputs:
        targetPath: '$(Pipeline.Workspace)'
        publishLocation: 'filepath'
        fileSharePath: '$(Build.SourcesDirectory)/ReactTodoUIMonolith-main/build'