trigger: none
pool: Default

jobs:
- job: linting
  steps:
  - task: PowerShell@2
    inputs:
      targetType: 'inline'
      script: 'npm i -D -E @biomejs/biome'
      workingDirectory: '$(Build.SourcesDirectory)/ReactTodoUIMonolith-main'
  
  - task: PowerShell@2
    inputs:
      targetType: 'inline'
      script: 'npx @biomejs/biome init'
      workingDirectory: '$(Build.SourcesDirectory)/ReactTodoUIMonolith-main'
  - task: PowerShell@2
    inputs:
      targetType: 'inline'
      script: 'npx biome lint .'
      workingDirectory: '$(Build.SourcesDirectory)/ReactTodoUIMonolith-main'
      
  - job: build
    displayName: building application
    steps:
    - task: PowerShell@2
      inputs:
        targetType: 'inline'
        script: 'npm install'
        workingDirectory: '$(Build.SourcesDirectory)/ReactTodoUIMonolith-main'
    - task: PowerShell@2
      inputs:
        targetType: 'inline'
        script: 'npm run build'
        workingDirectory: '$(Build.SourcesDirectory)/ReactTodoUIMonolith-main'
    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: '$(Build.SourcesDirectory)/ReactTodoUIMonolith-main/build'
        ArtifactName: 'ReactTodoUI'
        publishLocation: 'Container'


- deployment: deploy
  displayName: deploying code
  environment: 
      name: 'dev'
  strategy: 
    runOnce:
      deploy:
        steps:
        - task: DownloadBuildArtifacts@1
          inputs:
            buildType: 'current'
            downloadType: 'single'
            artifactName: 'build'
            downloadPath: '$(System.ArtifactsDirectory)'




