trigger: none 
pool: Default

jobs:
  - job: build
    displayName: building application
    steps:
      - task: PowerShell@2
        inputs:
          targetType: 'inline'
          script: 'npm install'
      - task: PowerShell@2
        inputs:
          targetType: 'inline'
          script: 'npm run build'