trigger: none 
pool: Default

jobs:
  
        

  - job: build
    displayName: building application
    steps:
    - task: PowerShell@2
      inputs:
        targetType: 'inline'
        script: 'npm install'
        workingDirectory: '$(Build.SourcesDirectory)/ReactTodoUIMonolith-main'
        
    - task: PowerShell@2
      inputs:
        targetType: 'inline'
        script: 'npm run build'
        workingDirectory: '$(Build.SourcesDirectory)/ReactTodoUIMonolith-main'

    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: '$(Build.SourcesDirectory)/ReactTodoUIMonolith-main/build'
        ArtifactName: 'ReactTodoUI'
        publishLocation: 'Container'
    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)/ReactTodoUIMonolith-main/build'
        ArtifactName: 'react-app'
        publishLocation: 'FilePath'
        TargetPath: 'https://jhansikirani.file.core.windows.net/file12'
    