trigger: none
pool: Default

jobs:
- job: build
  displayName: Building application
  steps:

  - task: SonarQubePrepare@8
    inputs:
      SonarQube: 'sonarqube'
      scannerMode: 'cli'
      configMode: 'manual'
      cliProjectKey: 'todo_app'
      cliProjectName: 'todo_app'
      cliSources: '.'
      extraProperties: |
        sonar.branch.name=

  - task: SonarQubeAnalyze@8
    inputs:
      jdkversion: 'JAVA_HOME'

  - task: SonarQubePublish@8
    inputs:
      pollingTimeoutSec: '300'
