trigger: none 
pool: Default

jobs:
  
  - job: build
    displayName: building application
    steps:
    - task: SonarQubePrepare@8
      inputs:
        SonarQube: 'sonarqube'
        scannerMode: 'cli'
        configMode: 'manual'
        cliProjectKey: 'todo_app'
        cliProjectName: 'todo_app'
        cliSources: '.'
    - task: PowerShell@2
      inputs:
        targetType: 'inline'
        script: 'npm install'
        workingDirectory: '$(Build.SourcesDirectory)/ReactTodoUIMonolith-main'
        
    - task: PowerShell@2
      inputs:
        targetType: 'inline'
        script: 'npm run build'
        workingDirectory: '$(Build.SourcesDirectory)/ReactTodoUIMonolith-main'

    - task: SonarQubeAnalyze@8
      inputs:
        jdkversion: 'JAVA_HOME'

    - task: SonarQubePublish@8
      inputs:
        pollingTimeoutSec: '300'

    # - task: PublishBuildArtifacts@1
    #   inputs:
    #     PathtoPublish: '$(Build.SourcesDirectory)/ReactTodoUIMonolith-main/build'
    #     ArtifactName: 'ReactTodoUI'
    #     publishLocation: 'Container'
    